In [1]:
#print Statement "HOPE AI"
print("HOPE AI")

HOPE AI

In [3]:
# Buy input "Hope AI"
print(input("Enter your institute name? :"))

Enter your institute name? : HOPE AI

HOPE AI

In [4]:
#Buy inputs
print(input("Enter your name:"))
print(input("Enter your age :"))
print(input("Enter your school name :"))
print(input("Enter your degree :"))

Enter your name: Pranesh Chandran

Pranesh Chandran

Enter your age : 35

35

Enter your school name : H.R.M.S

H.R.M.S

Enter your degree : B.Tech-I.T

B.Tech-I.T

In [6]:
name = "Pranesh Chandran"
age = 35
schoolName = "H.R.M.S"
degree = "B.Tech-I.T"
print("Enter your name:",name)
print("Enter your age :",age)
print("Enter your school name :", schoolName)
print("Enter your degree :", degree)

Enter your name: Pranesh Chandran
Enter your age : 35
Enter your school name : H.R.M.S
Enter your degree : B.Tech-I.T

In [7]:
#Addition a= 43, b= 34, add = 77
a= 43
b= 34
add = a + b
print("a= ", a)
print("b= ", b)
print("add= ", add)

a=  43
b=  34
add=  77

In [8]:
#Subtraction a= 43, b= 34, Sub = 9
a= 43
b = 34
sub = a - b
print("a= ", a)
print("b= ", b)
print("Sub= ", sub)

a=  43
b=  34
Sub=  9

In [9]:
#Multiplication a= 63, b= 97, Mul = 6111
a= 63
b= 97
mul = a*b
print("a= ", a)
print("b= ", b)
print("Mul= ", mul)

a=  63
b=  97
Mul=  6111

In [10]:
#Division a= 76, b= 31, Float Div = 2.4516129032258065
a= 76
b= 31
div= a/b
print("a= ", a)
print("b= ", b)
print("Div= ", div)

a=  76
b=  31
Div=  2.4516129032258065

In [11]:
#Floor division, a= 76, b= 31, Floor Div = 2
a= 76
b= 31
floorDiv = a//b
print("a= ", a)
print("b= ", b)
print("Floor Div = ", floorDiv)

a=  76
b=  31
Floor Div =  2

In [13]:
 #Modulo a= 76, b= 31, Modulo = 14
a= 76
b= 31
modulo = a%b
print("a= ", a)
print("b= ", b)
print("Modulo = ", modulo)

a=  76
b=  31
Modulo =  14

In [14]:
#Power a= 4, b= 4, Power = 256
a= 4
b= 4
power = pow(4, 4)
print("a= ", a)
print("b= ", b)
print("Power = ", power)

a=  4
b=  4
Power =  256