In [5]:
# print 0 to 20 by using range
for tmp in range(0, 20):
    print(tmp)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [6]:
# print range 10 to 20
for tmp1 in range(10, 20):
    print(tmp1)

10
11
12
13
14
15
16
17
18
19

In [38]:
# print range 10 to 20
for tmp1 in range(10, 20):
    print(tmp1, end=' ')

10 11 12 13 14 15 16 17 18 19

In [17]:
# Print number of items in the list by using 'len'
#[10, 20, 14, 55, 43, 87, 76] , Number of item in the List2: 7

items = [10, 20, 14, 55, 43, 87, 76]
print("Number of item in the List2:",len(items))

Number of item in the List2: 7

In [18]:
#Artificial Intelligence
for tmp in "Artificial Intelligence" :
    print(tmp)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [20]:
"""-Your Name-
-Your Age-
-Your Profession-"""
print( input("-Your Name-"))
print(input("-Your Age-"))
print(input("-Your Profession-"))

-Your Name- Pranesh Chandran

Pranesh Chandran

-Your Age- 35

35

-Your Profession- IT

IT

In [22]:
"""-Your Name-
-Your Age-
-Your Profession-"""
name = input("-Your Name-")
age = input("-Your Age-")
profession = input("-Your Profession-")

-Your Name- Pranesh Chandran
-Your Age- 35
-Your Profession- IT

In [23]:
# Refer this link : https://www.geeksforgeeks.org/python-tuples/
# Print yhis mixered datatype using Tuples
#(1, 'Welcome', 2, 'Hope')
tup = (1, 'Welcome', 2, 'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [29]:
# Refer this link : https://www.geeksforgeeks.org/python-tuples/
#Tuple1=(0,1,2,3)
tup = ("python", "HOPE")
tup1 = (0,1,2,3)
tuple1 = (tup1,tup)
print(tuple1)

((0, 1, 2, 3), ('python', 'HOPE'))

In [30]:
# print Odd Numbers in the list
#(20,10,16,19,25,1,276,188)
lis = (20,10,16,19,25,1,276,188)
for tmp in lis:
    if(tmp%2 == 1):
        print(tmp, " is odd")

19  is odd
25  is odd
1  is odd

In [31]:
# print Even numbers in the list
#(20,10,16,19,25,1,276,188)
lis1 = (20,10,16,19,25,1,276,188)
for tmp in lis1:
    if(tmp % 2 ==0):
        print(tmp, " is even")

20  is even
10  is even
16  is even
276  is even
188  is even

In [43]:
a = ('Geeks', 'for', 'Geeks')
print(*a)
b = range(10,20)
print(*b)

Geeks for Geeks
10 11 12 13 14 15 16 17 18 19