In [ ]:
#1.Find the error in the following Python code:
import math
print(Math.sqrt(16))

In [1]:
#Answer is 
import math
print(math.sqrt(16))

4.0

In [ ]:
#2.Find the error in the following Python code:
def my_function():
    x += 5
    print(x)

x = 10
my_function()

In [2]:
#Answer is
def my_function():
    x = 10
    x += 5
    print(x)
    
my_function()

15

In [ ]:
#3.
x = 5
if x = 10:
    print("x is 10")

In [3]:
#Answer is
x = 5
if x == 10:
    print("x is 10")

In [ ]:
#4.
numbers = [5, 3, 8, 2]
print(numbers.sort())

In [ ]:
#Answer is 
numbers = [5, 3, 8, 2]
numbers.sort()
print(numbers)

In [ ]:
#5.
def square(n):
    n * n

print(square(4))

In [4]:
#Answer is 
def square(n):
    n = n * n
    return n 

print(square(4))

16

In [ ]:
#6.
my_tuple = (1, 2, 3)
my_tuple[1] = 5

In [5]:
#Answer is
my_tuple = (1, 2, 3)
my_tuple = list(my_tuple)
my_tuple[1] = 5

In [ ]:
#7.
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name))

In [6]:
#Answer is 
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name, age))

My name is Alice and I am 25 years old

In [ ]:
#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a is b:
    print("Lists are equal")

In [7]:
#Answer is
a = [1, 2, 3]
b = [1, 2, 3]
if a == b:
    print("Lists are equal")

Lists are equal

In [ ]:
#9.
for i in range(5, 1):
    print(i)

In [8]:
#Answer is
for i in range(5, 1, -1):
    print(i)

5
4
3
2

In [ ]:
#10.
student = {"name": "John", "age": 20}
print(student[name])

In [9]:
#Answer is 
student = {"name": "John", "age": 20}
print(student["name"])

John