In [ ]:
1.Write a Python program that prints numbers from 1 to 5.
Expected Output:
1 2 3 4 5

In [2]:
#Answer is :
listNum= [1,2,3,4,5]
print(*listNum)

1 2 3 4 5

In [ ]:
2.Write a Python program to print the first 5 even numbers. Expected Output:
2 4 6 8 10

In [3]:
#Answer is:
num = ''
for i in range(1,11):
    if i%2 == 0:
        num = num+str(i)
print(*num)

2 4 6 8 1 0

In [ ]:
3.Write a Python program to print the sum of numbers from 1 to 10. 
Expected Output:55

In [4]:
#Answer is
sum = 0
for i in range(1,11):
    sum = sum + i
print(sum)

55

In [ ]:
4.Write a Python function to find the factorial of 5. Expected Output:
120

In [5]:
fact = 1
num = 5
for i in range(1,num+1):
    fact = fact * i
print(fact)

120

In [ ]:
5.Write a Python program to check if a number is prime. Expected Output (for input 7):
7 is a prime number

In [7]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

num = 7
if is_prime(num):
    print(f"{num} is a prime number")
else:
    print(f"{num} is not a prime number")

7 is a prime number